<div style="font-family: Times New Roman; font-size: 18px;">
<center>
    <h1>March Madness 2024</h1>
</center>
</div>

In [ ]:
import pandas as pd
import numpy as np
from summarytools import dfSummary, tabset
import warnings
#pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 1 - The Basics</h2>
</div>

In [9]:
men_teams = pd.read_csv(r"data\MTeams.csv")
women_teams = pd.read_csv(r"data\WTeams.csv")

men_seasons = pd.read_csv(r"data\MSeasons.csv")
women_seasons = pd.read_csv(r"data\WSeasons.csv")

men_torneyseeds = pd.read_csv(r"data\MNCAATourneySeeds.csv")
women_torneyseeds = pd.read_csv(r"data\WNCAATourneySeeds.csv")

regular_men_game_results = pd.read_csv(r"data\MRegularSeasonCompactResults.csv")
regular_women_game_results = pd.read_csv(r"data\WRegularSeasonCompactResults.csv")

ncaa_men_game_results = pd.read_csv(r"data\MNCAATourneyCompactResults.csv")
ncaa_women_game_results = pd.read_csv(r"data\WNCAATourneyCompactResults.csv")

In [ ]:
tabset({
    'Teams (Men)': dfSummary(men_teams).render(),
    'Teams (Women)': dfSummary(women_teams).render(),
    #
    'Seasons (Men)': dfSummary(men_seasons).render(),
    'Seasons (Women)': dfSummary(women_seasons).render(),
    #
    'Seeds (Men)': dfSummary(men_torneyseeds).render(),
    'Seeds (Women)': dfSummary(women_torneyseeds).render(),
    #
    'Game Results (Men)': dfSummary(regular_men_game_results).render(),
    'Game results (Women)': dfSummary(regular_women_game_results).render(),
    #
    'NCAA Game Results (Men)': dfSummary(men_torneyseeds).render(),
    'NCAA Game Results (Women)': dfSummary(women_torneyseeds).render()
})

<div style="font-family: Times New Roman; font-size: 18px;">
    
</div>

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 2 - Team Box Scores</h2>
</div>

<div style="font-family: Times New Roman; font-size: 16px;">
    <p>Team Box Scores are provided in "Detailed Results" files rather than "Compact Results" files. However, the two files are strongly related.
    <br>
    <br>
In a Detailed Results file, the first eight columns (<b>Season, DayNum, WTeamID, WScore, LTeamID, LScore, WLoc, and NumOT</b>) are exactly the same as a Compact Results file. However, in a Detailed Results file, there are many additional columns. The column names should be self-explanatory to basketball fans (as above, "W" or "L" refers to the winning or losing team):</p>
    <ul>
        <li><b>WFGM</b> - field goals made (by the winning team)</li>
        <li><b>WFGA</b> - field goals attempted (by the winning team)</li>
        <li><b>WFGM3</b> - three pointers made (by the winning team)</li>
        <li><b>WFGA3</b> - three pointers attempted (by the winning team)</li>
        <li><b>WFTM</b> - free throws made (by the winning team)</li>
        <li><b>WFTA</b> - free throws attempted (by the winning team)</li>
        <li><b>WOR</b> - offensive rebounds (pulled by the winning team)</li>
        <li><b>WDR</b> - defensive rebounds (pulled by the winning team)</li>
        <li><b>WAst</b> - assists (by the winning team)</li>
        <li><b>WTO</b> - turnovers committed (by the winning team)</li>
        <li><b>WStl</b> - steals (accomplished by the winning team)</li>
        <li><b>WBlk</b> - blocks (accomplished by the winning team)</li>
        <li><b>WPF</b> - personal fouls committed (by the winning team)</li>
    </ul>
    <p>(and then the same set of stats from the perspective of the losing team: <b>LFGM</b> is the number of field goals made by the losing team, and so on up to <b>LPF</b>).</p>
    <p><b>Note:</b> by convention, "field goals made" (either WFGM or LFGM) refers to the total number of fields goals made by a team, a combination of both two-point field goals and three-point field goals. And "three point field goals made" (either WFGM3 or LFGM3) is just the three-point fields goals made, of course. So if you want to know specifically about two-point field goals, you have to subtract one from the other (e.g., WFGM - WFGM3). And the total number of points scored is most simply expressed as 2*FGM + FGM3 + FTM.</p>
</div>

In [12]:
men_regseason_results_det = pd.read_csv(r"data\MRegularSeasonDetailedResults.csv")
women_regseason_results_det = pd.read_csv(r"data\WRegularSeasonDetailedResults.csv")

ncaa_men_results_det = pd.read_csv(r"data\MNCAATourneyDetailedResults.csv")
ncaa_women_results_det = pd.read_csv(r"data\WNCAATourneyDetailedResults.csv")

In [ ]:
men_regseason_results_det.head()

In [ ]:
tabset({
    'Regular season results (Men)': dfSummary(men_regseason_results_det).render(),
    'Regular season results (Women)': dfSummary(women_regseason_results_det).render(),
    #
    'NCAA results (Men)': dfSummary(ncaa_men_results_det).render(),
    'NCAA results (Women)': dfSummary(ncaa_women_results_det).render()
})

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 3 - Geography</h2>
</div>

<div style="font-family: Times New Roman; font-size: 16px;">
    <p> This section  provides a master list of cities that have been locations for games played. Please notice that the Cities and Conferences files are the only two that don't start with an M; this is because the data files are identical between men's and women's data, so you don't need to maintain separate listings of cities or conferences across the two datasets. Also note that if you created any supplemental data in previous years on cities (latitude/longitude, altitude, city-to-city distances, etc.), the CityID's match between previous years and this year, so you should be able to re-use that information.</p>
    <ul>
        <li><b>CityID</b> - a four-digit ID number uniquely identifying a city.</li>
        <li><b>City</b> - the text name of the city.</li>
        <li><b>State</b> - the state abbreviation of the state that the city is in. In a few rare cases, the game location is not inside one of the 50 U.S. states and so other abbreviations are used. For instance Cancun, Mexico has a state abbreviation of MX.</li>
    </ul>
</div>

In [ ]:
cities = pd.read_csv(r"data\Cities.csv")

cities_men = pd.read_csv(r"data\MGameCities.csv")
cities_women = pd.read_csv(r"data\WGameCities.csv")

In [ ]:
tabset({
    'Cities(All)': dfSummary(cities).render(),
    #
    'Cities (Men games)': dfSummary(cities_men).render(),
    'Cities (Women games)': dfSummary(cities_women).render()
})

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 4 - Public rankings</h2>
</div>

In [ ]:
rankings = pd.read_csv(r"data\MMasseyOrdinals.csv")
dfSummary(rankings)

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 5 - Supplements</h2>
</div>

In [ ]:
tournament_slots_men = pd.read_csv(r"data\MNCAATourneySlots.csv")
tournament_slots_women= pd.read_csv(r"data\WNCAATourneySlots.csv")

In [ ]:
tabset({
    'Tournament_slots(Men games)': dfSummary(tournament_slots_men).render(),
    'Tournament_slots(Women games)': dfSummary(tournament_slots_women).render()
})

In [ ]:
tournament_slots_men.tail()

In [ ]:
seed_distribution = pd.read_csv(r"data\2024_tourney_seeds.csv")
seed_distribution.head()

In [ ]:
men_teams_2024 = ['Connecticut','Stetson','FL Atlantic','Northwestern','San Diego St','UAB','Auburn','Yale','BYU',
                  'Duquesne','Illinois','Morehead St','Washington St','Drake','Iowa St','S Dakota St','North Carolina',
                  'Howard','Wagner','Mississippi St','Michigan St',"St Mary's CA",'Grand Canyon','Alabama',
                  'Col Charleston','Clemson','New Mexico','Baylor','Colgate','Dayton','Nevada','Arizona','Long Beach St',
                  'Houston','Longwood','Nebraska', 'Texas A&M','Wisconsin','James Madison','Duke','Vermont','Texas Tech',
                  'NC State','Kentucky','Oakland','Florida','Boise St','Colorado','Marquette','Kentucky','Purdue',
                  'Montana St','Grambling','Utah St','TCU','Gonzaga','McNeese St','Kansas','Samford','South Carolina',
                  'Oregon','Creighton','Akron','Texas', 'Virginia','Colorado St','Tennessee',"St Peter's"]

In [ ]:
men_regseason_results_det_ml = men_regseason_results_det[(men_regseason_results_det.Season >= 2016) & (men_regseason_results_det.Season <2025) ]
women_regseason_results_det_ml = women_regseason_results_det[(women_regseason_results_det.Season >= 2016) & (women_regseason_results_det.Season <2025)]

ncaa_men_results_det_ml = ncaa_men_results_det[(ncaa_men_results_det.Season >= 2016) & (ncaa_men_results_det.Season < 2025)]

In [ ]:
men_regseason_results_det_ml['winner'] = men_regseason_results_det_ml.WTeamID

ncaa_men_results_det_ml['winner'] = ncaa_men_results_det_ml.WTeamID

In [ ]:
men_regseason_results_det_ml.head(2)

In [ ]:
ncaa_men_results_det_ml.head(2)

In [ ]:
men_regseason_results_det_ml.drop(columns=['DayNum'], inplace=True)
ncaa_men_results_det_ml.drop(columns=['DayNum'], inplace=True)

men_regseason_results_det_ml.head(2)

In [ ]:
ncaa_men_results_det_ml.head(2)

In [ ]:
men_regseason_results_det_ml['WTeamID'] = men_regseason_results_det_ml['WTeamID'].astype(str)
men_regseason_results_det_ml['LTeamID'] = men_regseason_results_det_ml['LTeamID'].astype(str)
men_regseason_results_det_ml['winner'] = men_regseason_results_det_ml['winner'].astype(str)

ncaa_men_results_det_ml['WTeamID'] = ncaa_men_results_det_ml["WTeamID"].astype(str)
ncaa_men_results_det_ml['LTeamID'] = ncaa_men_results_det_ml["LTeamID"].astype(str)
ncaa_men_results_det_ml['winner'] = ncaa_men_results_det_ml["winner"].astype(str)

In [ ]:
#Conversion og team columns
men_regseason_results_det_ml['match'] = men_regseason_results_det_ml['WTeamID'] + " vs. " + men_regseason_results_det_ml['LTeamID']
ncaa_men_results_det_ml['match'] = ncaa_men_results_det_ml['WTeamID'] + " vs. " + ncaa_men_results_det_ml['LTeamID']

In [ ]:
#dropping team columns
men_regseason_results_det_ml.drop(columns=['WTeamID','LTeamID'], inplace=True)
ncaa_men_results_det_ml.drop(columns=['WTeamID','LTeamID'], inplace=True)
men_regseason_results_det_ml.head(3)

In [ ]:
#rearranging the columns
men_regseason_results_det_ml = men_regseason_results_det_ml[['Season','match', 'WScore', 'LScore', 'WLoc', 'NumOT', 'WFGM', 
                                                             'WFGA', 'WFGM3','WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst',
                                                             'WTO', 'WStl', 'WBlk','WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
                                                             'LFTM', 'LFTA', 'LOR', 'LDR','LAst', 'LTO', 'LStl', 'LBlk', 
                                                             'LPF', 'winner']]

In [ ]:
ncaa_men_results_det_ml = ncaa_men_results_det_ml[['Season','match', 'WScore', 'LScore', 'WLoc', 'NumOT', 'WFGM',
                                                   'WFGA', 'WFGM3','WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst',
                                                   'WTO', 'WStl', 'WBlk','WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
                                                   'LFTM', 'LFTA', 'LOR', 'LDR','LAst', 'LTO', 'LStl', 'LBlk', 
                                                   'LPF', 'winner']]

In [ ]:
men_regseason_results_det_ml.head(3)

In [ ]:
ncaa_men_results_det_ml.head(3)

In [ ]:
#Concat the data
ml_data = pd.concat([men_regseason_results_det_ml, ncaa_men_results_det_ml])
ml_data

In [ ]:
#Label Encoding
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [ ]:
ml_data.match = label_encoder.fit_transform(ml_data.match)
ml_data.WLoc = label_encoder.fit_transform(ml_data.WLoc)
ml_data.winner = label_encoder.fit_transform(ml_data.winner)

In [ ]:
ml_data.head(3)

In [ ]:
ml_data = ml_data.sort_values(by='Season', ascending=True)
ml_data

In [ ]:
ml_data.info()

In [ ]:
X = ml_data.copy()
X = X.drop(columns=['winner'], inplace=True)
y = np.array(ml_data)

In [ ]:
ml_data.match.value_counts()

In [ ]:
new_df_win = ml_data[['WFGM','WFGA', 'WFGM3','WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst','WTO', 'WStl', 'WBlk','WPF']]
new_df_lose = ml_data[['LFGM', 'LFGA', 'LFGM3', 'LFGA3','LFTM', 'LFTA', 'LOR', 'LDR','LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]

In [ ]:
new_df_win.rename(columns = lambda x: x[1:],inplace = True)
new_df_lose.rename(columns = lambda x: x[1:],inplace = True)

new_df_win['target'] = 1
new_df_lose['target'] = 0

In [ ]:
df_1 = pd.concat([new_df_win, new_df_lose])
df_1.head()

In [ ]:
df_1.tail()

In [ ]:
df_1 = df_1.sample(frac = 1).reset_index(drop = True)
df_1

In [ ]:
df_1.columns

In [ ]:
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.optimizers import Adam

In [ ]:
min_max_scaler = MinMaxScaler()
X = df_1[['FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR', 'Ast', 'TO',
       'Stl', 'Blk', 'PF']]
y = df_1.target

In [ ]:
X = min_max_scaler.fit_transform(X)
y = to_categorical(y)

In [ ]:
model = Sequential()
model.add(Dense(32, activation='relu', input_shape=(X.shape[1],)))
model.add(BatchNormalization())
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
#model.add(Dro
model.add(Dense(8, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [ ]:
adam = Adam(learning_rate=1e-7)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])
model.summary()

In [ ]:
history = model.fit(X, y, epochs=50, batch_size=16, validation_split=0.3)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])

In [ ]:
import pandas as pd
output_file = pd.DataFrame({'Team A':[],
                            'Team B': [],
                            'Team A Winner':[]})
output_file

In [ ]:
output_file

In [ ]:
for i in men_teams_2024:
    for j in men_teams_2024:

In [78]:
men_teams[men_teams.TeamName == "Peter's"]

Empty DataFrame
Columns: [TeamID, TeamName, FirstD1Season, LastD1Season]
Index: []

In [ ]:
from summarytools import dfSummary
output_file['Team A'].value_counts()

In [ ]:
import pandas as pd
from itertools import permutations

# List of values

# Generate pairs of values with all possible combinations
pairs = [(x, y) for x, y in permutations(men_teams_2024, 2)]

# Create DataFrame
output_file = pd.DataFrame(pairs, columns=['Team_A', 'Team_B'])

In [ ]:
output_file['Team A Win'] = 0

# Display the DataFrame
output_file

In [ ]:
teamid = []

for i in len(men_teams):
    if (men_teams_2024[i] == men_teams.TeamName):

In [ ]:
men_teams

In [1]:
import pandas as pd
fin_sub = pd.read_csv("Final_brackets_submission.csv")
fin_sub.head()

   TeamA_ID   TeamA_Name  TeamB_ID   TeamB_Name  Is_TeamA_winner
0      1163  Connecticut      1235      Iowa St                1
1      1235      Iowa St      1163  Connecticut                0
2      1163  Connecticut      1228     Illinois                1
3      1228     Illinois      1163  Connecticut                0
4      1163  Connecticut      1120       Auburn                1

In [38]:
fin_sub1 = pd.read_csv("Final_brackets_submission(1).csv")

In [101]:
[fin_sub1[(fin_sub1.Team_A == "Connecticut") & (fin_sub1.Team_B == "Grad Canyon")]]

[Empty DataFrame
 Columns: [Team_A, Team_B, Team A Win]
 Index: []]

In [100]:
[fin_sub1[(fin_sub1.Team_B == "Connecticut") & (fin_sub1.Team_A == "Grand Canyon")]]

[Empty DataFrame
 Columns: [Team_A, Team_B, Team A Win]
 Index: []]

In [112]:
[fin_sub[(fin_sub.TeamB_Name == "Colorado St") & (fin_sub.TeamA_Name == "Florida")]]

[      TeamA_ID TeamA_Name  TeamB_ID   TeamB_Name  Is_TeamA_winner
 3551      1196    Florida      1161  Colorado St                0]

In [109]:
[fin_sub[(fin_sub.TeamA_Name == "Fl Atlantic") & (fin_sub.TeamB_Name == "Northwestern")]]

[    TeamA_ID   TeamA_Name  TeamB_ID TeamB_Name  Is_TeamA_winner
 28      1163  Connecticut      1391    Stetson                1]

In [36]:
fin_sub[(fin_sub.TeamA_Name == "Wagner")]

Empty DataFrame
Columns: [TeamA_ID, TeamA_Name, TeamB_ID, TeamB_Name, Is_TeamA_winner]
Index: []

In [33]:
fin_sub.TeamA_Name.unique()

array(['Connecticut', 'Iowa St', 'Illinois', 'Auburn', 'San Diego St',
       'BYU', 'Washington St', 'FL Atlantic', 'Northwestern', 'Drake',
       'Duquesne', 'UAB', 'Yale', 'Morehead St', 'S Dakota St', 'Stetson',
       'North Carolina', 'Arizona', 'Baylor', 'Alabama', "St Mary's CA",
       'Clemson', 'Dayton', 'Mississippi St', 'Michigan St', 'Nevada',
       'New Mexico', 'Grand Canyon', 'Col Charleston', 'Colgate',
       'Long Beach St', 'Howard', 'Purdue', 'Tennessee', 'Creighton',
       'Kansas', 'Gonzaga', 'South Carolina', 'Texas', 'Utah St', 'TCU',
       'Colorado St', 'Oregon', 'McNeese St', 'Samford', 'Akron',
       "St Peter's", 'Grambling', 'Houston', 'Marquette', 'Kentucky',
       'Duke', 'Wisconsin', 'Texas Tech', 'Florida', 'Nebraska',
       'Texas A&M', 'Boise St', 'NC State', 'James Madison', 'Vermont',
       'Oakland', 'WKU', 'Longwood'], dtype=object)

In [80]:
men_teams.TeamName.unique()

array(['Abilene Chr', 'Air Force', 'Akron', 'Alabama', 'Alabama A&M',
       'Alabama St', 'SUNY Albany', 'Alcorn St', 'Alliant Intl',
       'American Univ', 'Appalachian St', 'Arizona', 'Arizona St',
       'Ark Little Rock', 'Ark Pine Bluff', 'Arkansas', 'Arkansas St',
       'Armstrong St', 'Army', 'Auburn', 'Augusta', 'Austin Peay',
       'Ball St', 'Baylor', 'Belmont', 'Bethune-Cookman', 'Binghamton',
       'Birmingham So', 'Boise St', 'Boston College', 'Boston Univ',
       'Bowling Green', 'Bradley', 'Brooklyn', 'Brown', 'Bryant',
       'Bucknell', 'Buffalo', 'Butler', 'BYU', 'C Michigan', 'Cal Poly',
       'California', 'Campbell', 'Canisius', 'Cent Arkansas', 'Centenary',
       'Central Conn', 'Charleston So', 'Charlotte', 'Chattanooga',
       'Chicago St', 'Cincinnati', 'Citadel', 'Clemson', 'Cleveland St',
       'Coastal Car', 'Col Charleston', 'Colgate', 'Colorado',
       'Colorado St', 'Columbia', 'Connecticut', 'Coppin St', 'Cornell',
       'Creighton', 'CS Bakersfield', 'CS Fullerton', 'CS Northridge',
       'CS Sacramento', 'Dartmouth', 'Davidson', 'Dayton', 'Delaware',
       'Delaware St', 'Denver', 'DePaul', 'Detroit', 'Drake', 'Drexel',
       'Duke', 'Duquesne', 'E Illinois', 'E Kentucky', 'E Michigan',
       'E Washington', 'East Carolina', 'SIUE', 'Elon', 'ETSU',
       'Evansville', 'F Dickinson', 'Fairfield', 'FL Atlantic',
       'FL Gulf Coast', 'Florida', 'Florida A&M', 'Florida Intl',
       'Florida St', 'Fordham', 'Fresno St', 'Furman', 'G Washington',
       'Ga Southern', 'Gardner Webb', 'George Mason', 'Georgetown',
       'Georgia', 'Georgia St', 'Georgia Tech', 'Gonzaga', 'Grambling',
       'Grand Canyon', 'Hampton', 'Hardin-Simmons', 'Hartford', 'Harvard',
       'Hawaii', 'High Point', 'Hofstra', 'Holy Cross', 'Houston',
       'Houston Chr', 'Howard', 'Idaho', 'Idaho St', 'IL Chicago',
       'Illinois', 'Illinois St', 'Incarnate Word', 'Indiana',
       'Indiana St', 'Iona', 'Iowa', 'Iowa St', 'PFW', 'IUPUI',
       'Jackson St', 'Jacksonville', 'Jacksonville St', 'James Madison',
       'Kansas', 'Kansas St', 'Kennesaw', 'Kent', 'Kentucky', 'La Salle',
       'Lafayette', 'Lamar', 'Lehigh', 'Liberty', 'Lipscomb',
       'Long Beach St', 'LIU Brooklyn', 'Longwood', 'Louisiana Tech',
       'Louisville', 'Loy Marymount', 'Loyola MD', 'Loyola-Chicago',
       'LSU', 'MA Lowell', 'Maine', 'Manhattan', 'Marist', 'Marquette',
       'Marshall', 'Maryland', 'Massachusetts', 'McNeese St',
       'MD E Shore', 'Memphis', 'Mercer', 'Miami FL', 'Miami OH',
       'Michigan', 'Michigan St', 'Minnesota', 'Mississippi',
       'Mississippi St', 'Missouri', 'Missouri KC', 'Missouri St',
       'Monmouth NJ', 'Montana', 'Montana St', 'Morehead St', 'Morgan St',
       'Morris Brown', 'MS Valley St', "Mt St Mary's", 'MTSU',
       'Murray St', 'N Colorado', 'N Dakota St', 'N Illinois',
       'N Kentucky', 'Navy', 'NC A&T', 'NC Central', 'NC State',
       'NE Illinois', 'NE Omaha', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Mexico', 'New Mexico St', 'New Orleans', 'Niagara',
       'Nicholls St', 'NJIT', 'Norfolk St', 'North Carolina',
       'North Dakota', 'North Florida', 'North Texas', 'Northeastern',
       'Northern Arizona', 'Northern Iowa', 'Northwestern',
       'Northwestern LA', 'Notre Dame', 'Oakland', 'Ohio', 'Ohio St',
       'Okla City', 'Oklahoma', 'Oklahoma St', 'Old Dominion',
       'Oral Roberts', 'Oregon', 'Oregon St', 'Pacific', 'Penn',
       'Penn St', 'Pepperdine', 'Pittsburgh', 'Portland', 'Portland St',
       'Prairie View', 'Presbyterian', 'Princeton', 'Providence',
       'Purdue', 'Quinnipiac', 'Radford', 'Rhode Island', 'Rice',
       'Richmond', 'Rider', 'Robert Morris', 'Rutgers', 'S Carolina St',
       'S Dakota St', 'S Illinois', 'Sacred Heart', 'Sam Houston St',
       'Samford', 'San Diego', 'San Diego St', 'San Francisco',
       'San Jose St', 'UC Santa Barbara', 'Santa Clara', 'Savannah St',
       'SC Upstate', 'SE Louisiana', 'SE Missouri St', 'Seattle',
       'Seton Hall', 'SF Austin', 'Siena', 'SMU', 'South Alabama',
       'South Carolina', 'South Dakota', 'South Florida', 'Southern Miss',
       'Southern Univ', 'Southern Utah', 'St Bonaventure',
       'St Francis NY', 'St Francis PA', "St John's", "St Joseph's PA",
       'St Louis', "St Mary's CA", "St Peter's", 'Stanford', 'Stetson',
       'Stony Brook', 'Syracuse', 'TAM C. Christi', 'TCU', 'Temple',
       'Tennessee', 'Tennessee St', 'Tennessee Tech', 'Texas',
       'Texas A&M', 'Texas St', 'Texas Tech', 'TN Martin', 'Toledo',
       'Towson', 'Troy', 'Tulane', 'Tulsa', 'UTRGV', 'TX Southern', 'UAB',
       'UC Davis', 'UC Irvine', 'UC Riverside', 'UCF', 'UCLA',
       'Louisiana', 'ULM', 'UMBC', 'UNC Asheville', 'UNC Greensboro',
       'UNC Wilmington', 'UNLV', 'USC', 'UT Arlington', 'UT San Antonio',
       'Utah', 'Utah St', 'Utah Valley', 'UTEP', 'Utica', 'VCU',
       'Valparaiso', 'Vanderbilt', 'Vermont', 'Villanova', 'Virginia',
       'Virginia Tech', 'VMI', 'W Carolina', 'W Illinois', 'WKU',
       'W Michigan', 'W Salem St', 'W Texas A&M', 'Wagner', 'Wake Forest',
       'Washington', 'Washington St', 'Weber St', 'West Virginia',
       'WI Green Bay', 'WI Milwaukee', 'Wichita St', 'William & Mary',
       'Winthrop', 'Wisconsin', 'Wofford', 'Wright St', 'Wyoming',
       'Xavier', 'Yale', 'Youngstown St', 'Cal Baptist', 'North Alabama',
       'Merrimack', 'Bellarmine', 'Utah Tech', 'Tarleton St',
       'UC San Diego', 'St Thomas MN', 'Lindenwood', 'Queens NC',
       'Southern Indiana', 'Stonehill', 'TX A&M Commerce', 'Le Moyne'],
      dtype=object)

In [ ]:
men_regseason_results_det.columns

In [21]:
men_regseason_results_det[(men_regseason_results_det.WTeamID == 1266) & (men_regseason_results_det.LTeamID == 1160) &
                          (men_regseason_results_det.Season > 2016)]

Empty DataFrame
Columns: [Season, DayNum, WTeamID, WScore, LTeamID, LScore, WLoc, NumOT, WFGM, WFGA, WFGM3, WFGA3, WFTM, WFTA, WOR, WDR, WAst, WTO, WStl, WBlk, WPF, LFGM, LFGA, LFGM3, LFGA3, LFTM, LFTA, LOR, LDR, LAst, LTO, LStl, LBlk, LPF]
Index: []

[0 rows x 34 columns]

In [22]:
men_regseason_results_det[(men_regseason_results_det.WTeamID == 1160) & (men_regseason_results_det.LTeamID == 1266) &
                          (men_regseason_results_det.Season > 2016)]

Empty DataFrame
Columns: [Season, DayNum, WTeamID, WScore, LTeamID, LScore, WLoc, NumOT, WFGM, WFGA, WFGM3, WFGA3, WFTM, WFTA, WOR, WDR, WAst, WTO, WStl, WBlk, WPF, LFGM, LFGA, LFGM3, LFGA3, LFTM, LFTA, LOR, LDR, LAst, LTO, LStl, LBlk, LPF]
Index: []

[0 rows x 34 columns]

In [51]:
men_regseason_results_det[(men_regseason_results_det.WTeamID == 1447) & (men_regseason_results_det.Season > 2016)]

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
71347,2017,11,1447,67,1163,58,A,0,20,53,...,19,12,16,12,21,9,9,4,2,20
71885,2017,22,1447,73,1110,65,A,0,27,54,...,29,11,20,11,24,13,13,3,2,22
72719,2017,40,1447,68,1288,66,A,0,27,58,...,22,17,24,14,24,10,8,1,4,17
73300,2017,59,1447,71,1148,46,H,0,23,51,...,8,9,14,6,15,7,9,7,0,18
73762,2017,68,1447,75,1357,64,H,0,27,59,...,17,6,11,9,28,16,15,2,1,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110572,2024,74,1447,71,1467,65,A,0,25,50,...,27,12,15,2,20,14,4,6,4,18
111212,2024,87,1447,80,1478,57,H,0,30,59,...,25,6,8,7,22,15,9,3,0,14
111556,2024,94,1447,66,1192,62,A,0,23,57,...,16,15,19,9,24,10,9,6,2,17
111874,2024,101,1447,65,1384,63,A,1,24,68,...,13,11,21,4,27,10,14,4,4,15
112395,2024,111,1447,72,1254,57,H,0,25,55,...,10,20,28,12,21,9,14,5,3,20

In [52]:
men_regseason_results_det[(men_regseason_results_det.WTeamID == 1213) & (men_regseason_results_det.Season > 2016)]

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
71673,2017,19,1213,82,1107,77,N,0,29,59,...,21,15,21,11,25,10,13,6,1,21
71735,2017,20,1213,84,1265,72,N,0,30,55,...,18,11,15,6,23,10,11,3,6,21
71983,2017,25,1213,70,1164,37,H,0,26,55,...,15,9,18,14,22,3,19,2,1,22
72560,2017,37,1213,76,1361,72,H,0,29,56,...,23,16,26,20,21,9,11,6,3,16
72650,2017,40,1213,73,1227,69,H,0,27,67,...,10,13,19,8,28,9,19,3,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111171,2024,87,1213,95,1370,88,H,1,33,66,...,28,13,17,9,22,13,11,7,2,21
111278,2024,89,1213,86,1430,67,A,0,27,63,...,22,10,19,11,31,16,12,2,10,22
111618,2024,96,1213,94,1381,65,H,0,32,72,...,17,16,22,3,21,5,19,4,4,22
111837,2024,101,1213,73,1469,61,H,0,24,58,...,23,5,13,13,17,11,10,6,4,19
111948,2024,103,1213,79,1465,76,H,0,26,54,...,18,9,11,4,25,13,7,2,1,21

In [49]:
#Team A
men_teams[men_teams.TeamName == 'Grand Canyon']

     TeamID      TeamName  FirstD1Season  LastD1Season
112    1213  Grand Canyon           2014          2024

In [50]:
#Team B
men_teams[men_teams.TeamName == 'Wagner']

     TeamID TeamName  FirstD1Season  LastD1Season
346    1447   Wagner           1985          2024