<div style="font-family: Times New Roman; font-size: 18px;">
<center>
    <h1>March Madness 2024</h1>
</center>
</div>

In [1]:
import pandas as pd
import numpy as np
from summarytools import dfSummary, tabset
import warnings
warnings.filterwarnings('ignore')

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 1 - The Basics</h2>
</div>

In [2]:
men_teams = pd.read_csv(r"data\MTeams.csv")
women_teams = pd.read_csv(r"data\WTeams.csv")

men_seasons = pd.read_csv(r"data\MSeasons.csv")
women_seasons = pd.read_csv(r"data\WSeasons.csv")

men_torneyseeds = pd.read_csv(r"data\MNCAATourneySeeds.csv")
women_torneyseeds = pd.read_csv(r"data\WNCAATourneySeeds.csv")

regular_men_game_results = pd.read_csv(r"data\MRegularSeasonCompactResults.csv")
regular_women_game_results = pd.read_csv(r"data\WRegularSeasonCompactResults.csv")

ncaa_men_game_results = pd.read_csv(r"data\MNCAATourneyCompactResults.csv")
ncaa_women_game_results = pd.read_csv(r"data\WNCAATourneyCompactResults.csv")

In [3]:
tabset({
    'Teams (Men)': dfSummary(men_teams).render(),
    'Teams (Women)': dfSummary(women_teams).render(),
    #
    'Seasons (Men)': dfSummary(men_seasons).render(),
    'Seasons (Women)': dfSummary(women_seasons).render(),
    #
    'Seeds (Men)': dfSummary(men_torneyseeds).render(),
    'Seeds (Women)': dfSummary(women_torneyseeds).render(),
    #
    'Game Results (Men)': dfSummary(regular_men_game_results).render(),
    'Game results (Women)': dfSummary(regular_women_game_results).render(),
    #
    'NCAA Game Results (Men)': dfSummary(men_torneyseeds).render(),
    'NCAA Game Results (Women)': dfSummary(women_torneyseeds).render()
})

<div style="font-family: Times New Roman; font-size: 18px;">
    
</div>

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 2 - Team Box Scores</h2>
</div>

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 3 - Geography</h2>
</div>

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 4 - Public rankings</h2>
</div>

<div style="font-family: Times New Roman; font-size: 18px;">
    <h2>Section 5 - Supplements</h2>
</div>