In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from tqdm import tqdm
warnings.filterwarnings('ignore')
%matplotlib inline

In [177]:
# all_season_score = pd.read_csv("./data/MRegularSeasonCompactResults.csv")
all_season_gamewise = pd.read_csv("./data/MRegularSeasonDetailedResults.csv")
ncaa_season_gamewise = pd.read_csv("./data/MNCAATourneyDetailedResults.csv")

In [178]:
all_season_gamewise

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113236,2024,132,1120,86,1196,67,N,0,31,61,...,13,18,25,13,26,9,11,8,6,17
113237,2024,132,1182,57,1433,51,N,0,17,57,...,24,12,14,9,25,9,16,10,9,16
113238,2024,132,1228,93,1458,87,N,0,30,57,...,20,20,23,13,17,17,7,7,1,20
113239,2024,132,1412,85,1396,69,N,0,31,63,...,21,14,17,11,26,17,14,6,6,18
113240,2024,132,1463,62,1135,61,N,0,25,64,...,25,8,15,8,27,13,9,3,3,11

In [179]:
all_season_gamewise[all_season_gamewise.Season == 2023].shape

(5602, 34)

In [180]:
test_data = all_season_gamewise[all_season_gamewise.Season == 2024]
all_season_gamewise = all_season_gamewise[all_season_gamewise.Season < 2024]

In [181]:
all_season_gamewise.shape, ncaa_season_gamewise.shape, test_data.shape

((107634, 34), (1315, 34), (5607, 34))

In [182]:
# all_season_score = all_season_score[all_season_score.Season >= 2003].reset_index().drop(columns=['index'])
# all_season_score

In [183]:
all_season_gamewise.columns, ncaa_season_gamewise.columns

(Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
        'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
        'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
        'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
       dtype='object'),
 Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
        'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
        'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
        'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
       dtype='object'))

In [184]:
all_df_dropped_cols = all_season_gamewise.drop(columns=['Season', 'DayNum', 'WLoc', 'NumOT'])
ncaa_df_dropped_cols = ncaa_season_gamewise.drop(columns=['Season', 'DayNum', 'WLoc', 'NumOT'])
test_df_dropped_cols = test_data.drop(columns=['Season', 'DayNum', 'WLoc', 'NumOT'])

In [185]:
combined_df = pd.concat([all_df_dropped_cols, ncaa_df_dropped_cols])

In [186]:
combined_df.columns

Index(['WTeamID', 'WScore', 'LTeamID', 'LScore', 'WFGM', 'WFGA', 'WFGM3',
       'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk',
       'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR',
       'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [187]:
combined_team_a = combined_df[['WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 
                               'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
combined_team_b = combined_df[['LTeamID', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 
                               'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
combined_team_b = combined_team_b.rename(columns=lambda x: 'W' + x[1:])



test_combined_team_a = test_df_dropped_cols[['WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 
                               'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
test_combined_team_b = test_df_dropped_cols[['LTeamID', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 
                               'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
test_combined_team_b = test_combined_team_b.rename(columns=lambda x: 'W' + x[1:])

In [188]:
indexes_shuffled = np.random.permutation(len(combined_team_a))
total_combination = len(combined_team_a)

test_indexes_shuffled = np.random.permutation(len(test_combined_team_a))
test_total_combination = len(test_combined_team_a)

In [189]:
team_a_df = pd.DataFrame(columns=combined_team_a.columns)
team_b_df = pd.DataFrame(columns=combined_team_b.columns)

test_team_a_df = pd.DataFrame(columns=test_combined_team_a.columns)
test_team_b_df = pd.DataFrame(columns=test_combined_team_a.columns)

In [190]:
for i in tqdm(range(total_combination)):
    ind1 = indexes_shuffled[i]
    x = np.random.uniform()
    if x > 0.5:
        team_a_df = team_a_df.append(combined_team_a.iloc[ind1])
        team_b_df = team_b_df.append(combined_team_b.iloc[ind1])
    else:
        team_a_df = team_a_df.append(combined_team_b.iloc[ind1])
        team_b_df = team_b_df.append(combined_team_a.iloc[ind1])
        
for i in tqdm(range(test_total_combination)):
    ind1 = test_indexes_shuffled[i]
    x = np.random.uniform()
    if x > 0.5:
        test_team_a_df = test_team_a_df.append(test_combined_team_a.iloc[ind1])
        test_team_b_df = test_team_b_df.append(test_combined_team_b.iloc[ind1])
    else:
        test_team_a_df = test_team_a_df.append(test_combined_team_b.iloc[ind1])
        test_team_b_df = test_team_b_df.append(test_combined_team_a.iloc[ind1])

100%|██████████████████████████████████| 108949/108949 [16:25<00:00, 110.58it/s]
100%|██████████████████████████████████████| 5607/5607 [00:12<00:00, 453.25it/s]

In [197]:
team_a_df.to_csv("./data/team_a_df.csv", index=False)
team_b_df.to_csv("./data/team_b_df.csv", index=False)

test_team_a_df.to_csv("./data/test_team_a_df.csv", index=False)
test_team_b_df.to_csv("./data/test_team_b_df.csv", index=False)

# Checkpoint 1 - saved the dataset

In [198]:
team_a_df = pd.read_csv("./data/team_a_df.csv")
team_b_df = pd.read_csv("./data/team_b_df.csv")

test_team_a_df = pd.read_csv("./data/test_team_a_df.csv")
test_team_b_df = pd.read_csv("./data/test_team_b_df.csv")

TS% = (0.5∗(points_score))/((field_goal_attempts) + 0.44*(free_throw_attempts))

In [199]:
team_a_df['WTS'] = (0.5 * team_a_df.WScore.astype(float)) / (team_a_df.WFGA.astype(float) + 0.44*team_a_df.WFTA.astype(float))
team_b_df['WTS'] = (0.5 * team_b_df.WScore.astype(float)) / (team_b_df.WFGA.astype(float) + 0.44*team_b_df.WFTA.astype(float))

test_team_a_df['WTS'] = (0.5 * test_team_a_df.WScore.astype(float)) / (test_team_a_df.WFGA.astype(float) + 0.44*test_team_a_df.WFTA.astype(float))
test_team_b_df['WTS'] = (0.5 * test_team_b_df.WScore.astype(float)) / (test_team_b_df.WFGA.astype(float) + 0.44*test_team_b_df.WFTA.astype(float))

In [200]:
from sklearn.preprocessing import LabelEncoder

In [201]:
labelEncoder = LabelEncoder()
all_teams_name = list(set(team_a_df.WTeamID.to_list() + team_b_df.WTeamID.to_list() + 
                          test_team_a_df.WTeamID.to_list() + test_team_b_df.WTeamID.to_list()))
labelEncoder.fit(all_teams_name)

LabelEncoder()

In [202]:
team_a_df['encoded_team'] = labelEncoder.transform(team_a_df.WTeamID)
team_b_df['encoded_team'] = labelEncoder.transform(team_b_df.WTeamID)
target_score_differential = team_a_df.WScore - team_b_df.WScore


test_team_a_df['encoded_team'] = labelEncoder.transform(test_team_a_df.WTeamID)
test_team_b_df['encoded_team'] = labelEncoder.transform(test_team_b_df.WTeamID)

In [203]:
team_a_df.columns

Index(['WTeamID', 'WScore', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA',
       'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'WTS',
       'encoded_team'],
      dtype='object')

In [247]:
# removed WScore and WTS
features = ['WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'WTS']

In [248]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Concatenate, Add

In [252]:
# Define the hyperparameters for our model.
embedding_dim = 32
num_teams = len(all_teams_name)

def get_model():
    """
    This function creates a tensorflow model using the Keras Functional API.

    Returns:
      - keras.engine.functional.Functional: The compiled Tensorflow/Keras model
    """
    # As mentioned above, we are using the team's label encoded values as inputs
    team_a = Input(shape=(len(features),), name='team_a')
    team_b = Input(shape=(len(features),), name='team_b')

    # Embedding layers for two labels
    team_a_embedding = Embedding(num_teams, embedding_dim, input_length=1, name='team_a_embedding')(team_a)
    team_b_embedding = Embedding(num_teams, embedding_dim, input_length=1, name='team_b_embedding')(team_b)
    
    # Flatten and concatenate the layers.
    team_a_flat = Flatten()(team_a_embedding)
    team_b_flat = Flatten()(team_b_embedding)
    team_a_b = Concatenate()([team_a_flat, team_b_flat])
    
    # Leverage some dense layers to extract data 
    dense_1 = Dense(256, activation='relu')(team_a_b)
    dense_2 = Dense(128, activation='relu')(dense_1)
    # We are using a linear activation on the final layer as we are predicting the score_diff
    output_layer = Dense(1, activation='linear', name='output')(dense_2)

    # Finalize the model by defining inputs/outputs and compiliation details
    model = Model(inputs=[team_a, team_b], outputs=output_layer)
    adam = Adam(learning_rate=1e-5)
    model.compile(optimizer='adam', loss='mse', metrics=['mae'])
    
    return model

In [253]:
adv_model = get_model()
adv_model.summary()

Model: "model_10"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 team_a (InputLayer)         [(None, 14)]                 0         []

 team_b (InputLayer)         [(None, 14)]                 0         []

 team_a_embedding (Embeddin  (None, 14, 32)               11808     ['team_a[0][0]']
 g)

 team_b_embedding (Embeddin  (None, 14, 32)               11808     ['team_b[0][0]']
 g)

 flatten_20 (Flatten)        (None, 448)                  0         ['team_a_embedding[0][0]']

 flatten_21 (Flatten)        (None, 448)                  0         ['team_b_embedding[0][0]']

 concatenate_10 (Concatenat  (None, 896)                  0         ['flatten_20[0][0]',
 e)                                                                  'flatten_21[0][0]']

 dense_18 (Dense)            (None, 256)                  229632    ['concatenate_10[0][0]']

 dense_19 (Dense)            (None, 128)                  32896     ['dense_18[0][0]']

 output (Dense)              (None, 1)                    129       ['dense_19[0][0]']

==================================================================================================
Total params: 286273 (1.09 MB)
Trainable params: 286273 (1.09 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [254]:
adv_model.fit(
    [team_a_df[features], team_b_df[features]],
    target_score_differential,
    batch_size=25,
    epochs=10,
    validation_split=0.3
)

Epoch 1/10
3051/3051 [==============================] - 12s 4ms/step - loss: 8.1467 - mae: 1.3784 - val_loss: 1.6638 - val_mae: 0.9181
Epoch 2/10
3051/3051 [==============================] - 10s 3ms/step - loss: 0.9756 - mae: 0.6262 - val_loss: 0.8274 - val_mae: 0.5241
Epoch 3/10
3051/3051 [==============================] - 10s 3ms/step - loss: 0.6820 - mae: 0.5547 - val_loss: 0.7025 - val_mae: 0.4791
Epoch 4/10
3051/3051 [==============================] - 10s 3ms/step - loss: 0.4166 - mae: 0.4475 - val_loss: 0.5635 - val_mae: 0.2874
Epoch 5/10
3051/3051 [==============================] - 10s 3ms/step - loss: 0.3850 - mae: 0.4437 - val_loss: 0.6186 - val_mae: 0.2910
Epoch 6/10
3051/3051 [==============================] - 11s 4ms/step - loss: 0.3627 - mae: 0.4158 - val_loss: 0.7454 - val_mae: 0.3855
Epoch 7/10
3051/3051 [==============================] - 12s 4ms/step - loss: 0.2431 - mae: 0.3563 - val_loss: 0.7153 - val_mae: 0.2868
Epoch 8/10
3051/3051 [==============================] - 12s 4ms/step - loss: 0.2535 - mae: 0.3359 - val_loss: 0.6119 - val_mae: 0.2774
Epoch 9/10
3051/3051 [==============================] - 12s 4ms/step - loss: 0.2338 - mae: 0.3431 - val_loss: 3.1667 - val_mae: 1.3630
Epoch 10/10
3051/3051 [==============================] - 12s 4ms/step - loss: 0.2029 - mae: 0.2965 - val_loss: 2.1757 - val_mae: 1.0936

In [255]:
prediction_score_differential = adv_model.predict([test_team_a_df[features], test_team_b_df[features]])
prediction_score_differential = prediction_score_differential.flatten()

176/176 [==============================] - 0s 1ms/step

In [256]:
actual_score_differential = []
for index, (row_a, row_b) in enumerate(zip(test_team_a_df.iterrows(), test_team_b_df.iterrows())):
    index_a, data_a = row_a
    index_b, data_b = row_b
    score_differential = data_a['WScore'] - data_b['WScore']
    actual_score_differential.append(score_differential)
#     print(f"Row {index+1}: => Score Differential: {score_differential}")

In [257]:
count = 0
for x, y in zip(actual_score_differential, prediction_score_differential):
    if x<0 and y<0:
        count += 1
    if x>0 and y>0:
        count+=1
        
print(f"The accuracy over the 2024 regular season is: {(float(count)/len(actual_score_differential))*100.0}% given the score is known")

The accuracy over the 2024 regular season is: 98.75156054931335% given the score is known

In [258]:
teams_in_2024 = list(set(test_team_a_df.WTeamID.to_list() + test_team_b_df.WTeamID.to_list()))

In [259]:
# sorted(teams_in_2024)

In [264]:
season_23_data_team_a_df = team_a_df
season_23_data_team_b_df = team_b_df
features_for_averaging = ['WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'WTS']

In [265]:
teams_in_2024_average_stats = {}
for team in teams_in_2024:
    df_tmp_if_a_team = season_23_data_team_a_df[season_23_data_team_a_df.WTeamID == team][features_for_averaging]
    df_tmp_if_b_team = season_23_data_team_b_df[season_23_data_team_b_df.WTeamID == team][features_for_averaging]
    average_if_a_team = df_tmp_if_a_team.describe().mean().values
    average_if_b_team = df_tmp_if_b_team.describe().mean().values
    overall_average = (average_if_a_team + average_if_b_team)/2.0
    teams_in_2024_average_stats[team] = overall_average

In [266]:
prediction_score_differential = []
for team_a, team_b in tqdm(zip(test_team_a_df.WTeamID.to_list(), test_team_b_df.WTeamID.to_list()), total=len(test_team_a_df)):
    prediction = adv_model.predict([np.reshape(teams_in_2024_average_stats[team_a], (1,14)), 
                             np.reshape(teams_in_2024_average_stats[team_b], (1,14))], verbose=False)
    prediction_score_differential.append(prediction)

100%|███████████████████████████████████████| 5607/5607 [06:00<00:00, 15.55it/s]

In [267]:
actual_score_differential = []
for index, (row_a, row_b) in enumerate(zip(test_team_a_df.iterrows(), test_team_b_df.iterrows())):
    index_a, data_a = row_a
    index_b, data_b = row_b
    score_differential = data_a['WScore'] - data_b['WScore']
    actual_score_differential.append(score_differential)
#     print(f"Row {index+1}: => Score Differential: {score_differential}")

In [268]:
count = 0
for x, y in zip(actual_score_differential, prediction_score_differential):
    if x<0 and y<0:
        count += 1
    if x>0 and y>0:
        count+=1
        
print(f"The accuracy over the 2024 regular season is: {(float(count)/len(actual_score_differential))*100.0}% where average score of previous regular season is taken")

The accuracy over the 2024 regular season is: 48.51079008382379% where average score of previous regular season is taken

In [271]:
mens_team = pd.read_csv("./data/MTeams.csv")

In [272]:
team_ids_to_name = {}
for x, y in zip(mens_team.TeamName.to_list(), mens_team.TeamID.to_list()):
    team_ids_to_name[x] = y

In [269]:
submission = pd.read_csv("./data/submission.csv")

In [270]:
submission

           Team_A        Team_B  Team A Win
0     Connecticut       Stetson           0
1     Connecticut   FL Atlantic           0
2     Connecticut  Northwestern           0
3     Connecticut  San Diego St           0
4     Connecticut           UAB           0
...           ...           ...         ...
4551   St Peter's         Akron           0
4552   St Peter's         Texas           0
4553   St Peter's      Virginia           0
4554   St Peter's   Colorado St           0
4555   St Peter's     Tennessee           0

[4556 rows x 3 columns]

In [275]:
is_team_A_win = []
for team_a, team_b in tqdm(zip(submission.Team_A.to_list(), submission.Team_B.to_list()), total=submission.shape[0]):
    prediction = adv_model.predict([np.reshape(teams_in_2024_average_stats[team_ids_to_name[team_a]], (1,14)), 
                             np.reshape(teams_in_2024_average_stats[team_ids_to_name[team_b]], (1,14))], verbose=False)
    if prediction > 0:
        is_team_A_win.append(1)
    else:
        is_team_A_win.append(0)

100%|███████████████████████████████████████| 4556/4556 [05:36<00:00, 13.54it/s]

In [276]:
submissionsion['Team A Win'is_team_A_win_team_A_win

In [277]:
submission.to_csv("./data/final_submission.csv", index=False)

In [278]:
x = submission.Team_A.to_list()
y = submission.Team_B.to_list()
z = submission['Team A Win']

In [279]:
for i in x:
    if

AttributeError: 'list' object has no attribute 'find'

In [ ]:
# testing for matches played on 19 March
# Howard = 1224
# Wagner = 1447